---
layout: default
categories: >
  home
---

<div class="home">
  <!-- <h1 class="page-heading">Posts</h1> -->
  <ul class="post-list">
    {% for post in site.posts reversed %}
      <li id="{{post.title}}">
        {% if post.categories contains "intro" %}
        {%else%}
          <h1 class="post-title">
            <!-- <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"> -->
            {%if post.subtitle %}
              {{post.subtitle}}
            {% else %}
              {% if post.categories contains "week" %}Week {{ post.title }}{%endif%}
            {% endif %}
            <!-- </a> -->
            <span class="post-meta">{{ post.date | date: "%b %-d" }}</span>
          </h1>
        {% endif %}
        <article class="post-content">
          {{post.content}}
        </article>
      </li>
    {% endfor %}
  </ul>

</div>
